
<div class="add-new-friends-container">
<h3>create new user</h3>
    <div class ='add-new-friends'>
      <%= form_for @user do |f| %>
      <div class = 'control-group'>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>  
      <div class = 'control-group'>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div>
        <input id="user_longitude" name="user[longitude]" type="hidden">
        <input id="user_latitude" name="user[latitude]" type="hidden">
      </div>


      <%= f.submit class: 'btn btn-custom' %>
      <% end %>
    </div>
</div


<div class="map-container">
    <div id="Map">
      <div id="LocateButton"></div>
  </div>
</div>


<script>
  var map;

    require([
      "dojo/dom", 
      "dojo/_base/array",
      "esri/Color",
      "dojo/parser",
      "dijit/registry",

      "esri/dijit/Geocoder",
      "esri/dijit/LocateButton",

      "esri/urlUtils",
      "esri/map",
      "esri/lang",
      "esri/graphic",
      "esri/InfoTemplate",
      "esri/layers/GraphicsLayer",
      "esri/renderers/SimpleRenderer",

      "esri/geometry/Point",
      "esri/tasks/FeatureSet",

      "esri/symbols/SimpleMarkerSymbol",
      "esri/symbols/SimpleLineSymbol",], function(
      dom, array, Color, parser, registry,
      Geocoder, LocateButton,
      urlUtils, Map, esriLang, Graphic, InfoTemplate, GraphicsLayer, SimpleRenderer, 
      Point, FeatureSet,
      SimpleMarkerSymbol, SimpleLineSymbol) {

      //Create the map so it is pretty for the UI
      map = new Map("Map", {
        center: [-56.049, 38.485],
        zoom: 4,
        basemap: "streets"
      });

      map.on("click", mapClickHandler);

      //Create the geo location button on the map
      var geoLocate = new LocateButton({
        map: map
      }, "LocateButton");
      geoLocate.startup();

      
      map.on("load", function(evtObj) {
        
      });
      
      //clear graphics  
      function clearGraphics() {
        map.graphics.clear();
      }



      function mapClickHandler(e) {
          clearGraphics

          var clickedPoint = new Point(e.mapPoint.x, e.mapPoint.y, map.spatialReference);
          var location = new Graphic(clickedPoint);
      }
  });     

</script>



