<div class='add-new-friends-container'>
  <div class="add-new-friends">
  <h4>My Profile</h4>
<p>Username: <%= @user.username %></p>
<h4>Friends</h4> 
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to '<i class="icon-minus"></i>'.html_safe, friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Add More Friends", users_path %></p>

<h4>Friended by Users</h4>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>
</div>
</div>