<style>
	.yelp-results {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	.image-container {
		width: 10%;
		float: left;
	}

	.metadata-container {
		width: 90%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 10px;
	}

	.yelp-results a {
		display: block;
		padding: 5px;
	}

	.yelp-results a:hover {
		background: yellow;
	}

</style>




<div class="search-container">
	<h3>search</h3>
	<div class="search-collection">
		<div class="simpleGeocoder" id="pointA"></div>
	</div>
	<a id="addMoreSearch" href="#">Add More</a>

	<% if logged_in? %>
		<div class="friends-container">
			<h3>friends</h3>
			<ul>
				<% for user in current_user.friends %>
					<li>
						<a class="friend-container" href="#" data-username="<%= user.username %>" data-address="<%= user.address %>" data-longitude="<%= user.longitude != nil ? user.longitude : 40 %>" data-latitude="<%= user.latitude != nil ? user.latitude : 40 %>">
							<div class="friend">
								<div><strong><%= user.username %></strong></div>
								<% if(user.address != nil)  %>
									<div><span><%= user.address %></span></div>
								<% end %>
							</div>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div id="yelpContainer"></div>
	<div id="directionContainer"></div>

</div>

<div class="map-container">
    <div id="Map">
	    <div id="LocateButton"></div>
	</div>
</div>

<script>
	var API_TOKEN = "ToNThCY7s-g_91Oa2PS051ykOI2Aip43QJDEqLK9gWnE3vU3Njat7UhIZfYPSGcqIW6J8wGxeDkgbMBavXlXR5If7Uoo4wcN3-peqmZltqNP2tUJSePR4eNFAVrOSLc11OLVZepaIwuzPK0U2tBhOQ.."

	var geocoders = [];
	var searchContainer = $(".search-collection");

	var map;

  	require([
  		"dojo/dom",
		"dojo/_base/array",
		"esri/Color",
		"dojo/parser",
		"dijit/registry",

		"esri/dijit/Geocoder",
		"esri/dijit/LocateButton",

		"esri/urlUtils",
		"esri/map",
		"esri/lang",
		"esri/graphic",
		"esri/InfoTemplate",
		"esri/layers/GraphicsLayer",
		"esri/renderers/SimpleRenderer",

		"esri/geometry/Point",
		"esri/tasks/FeatureSet",

		"esri/tasks/ClosestFacilityTask",
		"esri/tasks/ClosestFacilityParameters",

		"esri/symbols/SimpleMarkerSymbol",
		"esri/symbols/SimpleLineSymbol",

		"dijit/form/ComboBox",
		"dijit/layout/BorderContainer",
		"dijit/layout/ContentPane"], function(
			dom, array, Color, parser, registry,
			Geocoder, LocateButton,
			urlUtils, Map, esriLang, Graphic, InfoTemplate, GraphicsLayer, SimpleRenderer, 
      		Point, FeatureSet, 
      		ClosestFacilityTask, ClosestFacilityParameters, 
      		SimpleMarkerSymbol, SimpleLineSymbol) {

		var incidentsGraphicsLayer, 
			routeGraphicLayer, 
			addressGraphicsLayer,
			midpointGraphicsLayer;

		var closestFacilityTask = new ClosestFacilityTask("http://route.arcgis.com/arcgis/rest/services/World/ClosestFacility/NAServer/ClosestFacility_World?token=" + API_TOKEN);

		var directionContainer = dom.byId("directionContainer");
		//wtf does this even do? i don't even know
      	parser.parse();

  		//Create the map so it is pretty for the UI
	    map = new Map("Map", {
	      center: [-56.049, 38.485],
	      zoom: 4,
	      maxZoom:6,
	      minZoom:2,
	      basemap: "streets",
	    });

		map.on("click", mapClickHandler);

	    //Create the geo location button on the map
		var geoLocate = new LocateButton({
        	map: map
      	}, "LocateButton");
      	geoLocate.startup();

		params = new ClosestFacilityParameters();
		params.impedenceAttribute= "Miles";      
		params.defaultCutoff= 100000.0;      
		params.returnIncidents=false;
		params.returnRoutes=true;
		params.returnDirections=true;
		params.defaultTargetFacilityCount=10;
      
		map.on("load", function(evtObj) {
			var map = evtObj.target;
			map.enableScrollWheelZoom();

			//Origin
			incidentsGraphicsLayer = new GraphicsLayer();
	        var incidentPointSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 16, new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([89,95,35]), 2), new Color([130,159,83,0.40]));
	        var incidentsRenderer = new SimpleRenderer(incidentPointSymbol);
	        incidentsGraphicsLayer.setRenderer(incidentsRenderer);
	        map.addLayer(incidentsGraphicsLayer);

        	//Route
	        routeGraphicLayer = new GraphicsLayer();
	        var routePolylineSymbol = new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([89,95,35]), 4.0);
	        var routeRenderer = new SimpleRenderer(routePolylineSymbol);
	        routeGraphicLayer.setRenderer(routeRenderer);
	        map.addLayer(routeGraphicLayer);

	        //Address
	        addressGraphicsLayer = new GraphicsLayer();
	        var addressPointSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_SQUARE, 20, new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([89,95,35]), 2), new Color([130,159,83,0.40]));
			var addressRenderer = new SimpleRenderer(addressPointSymbol);
			addressGraphicsLayer.setRenderer(addressRenderer);
			map.addLayer(addressGraphicsLayer);

			//Midpoint
			midpointGraphicsLayer = new GraphicsLayer();
	        var midpointPointSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_SQUARE, 20, new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([33,95,35]), 2), new Color([33,200,35]));
			var midpointRenderer = new SimpleRenderer(midpointPointSymbol);
			midpointGraphicsLayer.setRenderer(midpointRenderer);
			map.addLayer(midpointGraphicsLayer);

	        params.outSpatialReference = map.spatialReference;
       
  		});

		//clear graphics	
      	function clearGraphics() {
	        directionContainer.innerHTML= "";
	        map.graphics.clear();
	        routeGraphicLayer.clear();
	        incidentsGraphicsLayer.clear();
		}

      	function mapClickHandler(evt) {
			updateMidpoint(evt.mapPoint.x, evt.mapPoint.y);
      	}

  		//Add Geocoder dynamically
	    var pointA = addGeocoder("pointA", "Your Address", "New York");
	    var pointB = addGeocoder("pointB", "Friends Address", "San Fransisco");
	    var pointB = addGeocoder("pointC", "Friends Address", "North Dakota");
	    var pointB = addGeocoder("pointD", "Friends Address", "Florida");


    	$("#addMoreSearch").unbind("click").click(function() {
    		var searchCollection = $(".search-collection");
    		var childrens = searchCollection.find(".simpleGeocoder");

    		console.log(childrens);

			var id = "point" + childrens.length;
			var html = '<div class="simpleGeocoder" id="' + id + '"></div>'

			searchCollection.append(html);
			addGeocoder(id, "Another Address");	
			return false;
    	});


		$("a.friend-container").each(function() {
			var graphic = null;
			$(this).unbind("click").click(function() {
				if(graphic == null) {
					var username = $(this).attr("data-username");
					var address = $(this).attr("data-address");
					var x = parseInt($(this).attr("data-latitude"));
					var y = parseInt($(this).attr("data-longitude"));
					graphic = new Graphic(new Point(x, y, map.spatialReference))	
					addressGraphicsLayer.add(graphic);
					$(this).addClass("active");
				}else {
					addressGraphicsLayer.remove(graphic);
					graphic = null;
					$(this).removeClass("active");
				}

				calculateMidpoint();
				return false;
			});
		});

		function addGeocoder(id, detail, address) {
			var graphic;

			var geocoder = new Geocoder({
				autoComplete: true,
				map: map,
				zoomScale: 2,
	  			arcgisGeocoder: {
	    			placeholder: detail
	  			},
	  			value: address != null ? address : ""
			}, dom.byId(id));

			geocoder.on("select", function(e) {
				var x = e.result.feature.geometry.x;
				var y = e.result.feature.geometry.y;
				graphic = new Graphic(new Point(x, y, map.spatialReference))
				addressGraphicsLayer.add(graphic);
				calculateMidpoint();
			});

			geocoder.on("clear", function() {
				addressGraphicsLayer.remove(graphic);
				calculateMidpoint();
			});

			return geocoder;
		}


		function calculateMidpoint() {
			var totalX = 0;
			var totalY = 0;
			var totalCounter = 0;
			for(var i = 0; i < addressGraphicsLayer.graphics.length; i++) {
				var currentGeocoder = addressGraphicsLayer.graphics[i];
				totalX += currentGeocoder.geometry.x;
				totalY += currentGeocoder.geometry.y;
				totalCounter++;
			}

			if(totalCounter > 1 && totalX != null && totalY != null) {
				updateMidpoint(totalX/totalCounter, totalY/totalCounter);
			}
		}

		function updateMidpoint(x, y) {
			var midpointPointGraphic = new Graphic(new Point(x, y, map.spatialReference));
			midpointGraphicsLayer.clear();
			midpointGraphicsLayer.add(midpointPointGraphic);
			generateMidpointReverseDirections(midpointPointGraphic);
		}

		function generateMidpointReverseDirections() {
			var facilities = new FeatureSet();
	        facilities.features = midpointGraphicsLayer.graphics;
	        params.facilities = facilities;

        	var incidents = new FeatureSet();
    		incidents.features = addressGraphicsLayer.graphics
        	params.incidents = incidents;

        	//Mouse handler
			map.graphics.enableMouseEvents();
       
        	routeGraphicLayer.on("mouse-over", function(evt) {
          	//clear existing directions and highlight symbol
          		map.graphics.clear();
          		directionContainer.innerHTML= "Hover over the route to view directions";
          
          		var highlightSymbol = new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([0,255,255],0.25), 4.5);
          		var highlightGraphic = new Graphic(evt.graphic.geometry,highlightSymbol);
          
          		map.graphics.add(highlightGraphic);
          		directionContainer.innerHTML = esriLang.substitute(evt.graphic.attributes,"${*}");
        	});	


        	generateYelpResults();

        	closestFacilityTask.solve(params, function(solveResult) {
				clearGraphics();

          		var directions = solveResult.directions;

          		array.forEach(solveResult.routes, function(route, index) {


            		//build an array of route info
	            	var attr = array.map(solveResult.directions[index].features, function(feature) {
	              		return feature.attributes.text;
	            	});

	            	var infoTemplate = new InfoTemplate("Attributes", "${*}");
	            
	            	route.setInfoTemplate(infoTemplate);
	            	route.setAttributes(attr);
	            
	            	routeGraphicLayer.add(route);
	            	directionContainer.innerHTML = "Hover over the route to view directions";
	          	});
          	}, function(error) {
				clearGraphics();
          		directionContainer.innerHTML = error.message;
          	});
		}

		function generateYelpResults() {
			var x = midpointGraphicsLayer.graphics[0].geometry.getLatitude();
			var y = midpointGraphicsLayer.graphics[0].geometry.getLongitude();
			$.getJSON("/yelp/" + y + "/" + x, function(data) {
				var yelpContainer = $("#yelpContainer");
				yelpContainer.empty();
				for(var i = 0; i < data.businesses.length; i++) {
					var business = data.businesses[i];
					var html = '' +
					'<div class="yelp-results">' +
						'<a href="' + business.url + '">' +
							'<div class="image-container">' + 
								'<img width="100%" height="100%" src="' + business.image_url + '"/>' +
							'</div>' +
							'<div class="metadata-container">' +
								'<div><strong>' + business.name +' (' + business.phone + ') </strong></div>' +
								'<img src="' + business.rating_img_url + '"/>' +
							'</div>' +
							'<div class="clearfix"></div>' +
						'</a>' + 
					'</div>';

					yelpContainer.append(html);
				}

				console.log(data);
			});



		}


	});     

</script>



