<ul class="nav">
  <li>
    <%= link_to "midtown", root_path, :class => 'brand' %>
  </li>
  <% if !logged_in? %>
  <li class='nav_item'>
    <%= link_to 'new user', new_user_path %>
  </li>
  <li class='nav_item'>
    <%= link_to 'log-in', login_path %>
  </li>

  <% end %>

  <%if logged_in? %>

<div class = 'btn-group nav_item'>
  <%= link_to('', class: 'btn btn-small dropdown-toggle', 'data-toggle'=> 'dropdown') do %>
  <%= current_user.username %>
  <span class='caret'></span>
  <% end %>
  <ul class='dropdown-menu'>
    <li>
      <%= link_to user_path(current_user) do %>
      <i class='icon-user'></i>
      view profile
      <% end %>
    </li>
    <li>
      <%= link_to users_path do %>
      <i class='icon-wrench'></i>
      all users
      <% end %>
    </li>
    <li>
      <%= link_to logout_path do %>
      <i class='icon-circle-arrow-left'></i>
      logout
      <% end %>
    </li>
</div>
  <% end %>
</ul>
