<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 

    <title>Midtown</title>

    <meta name="description" content="Meet halfway">
    <meta name="author" content="">

    <%# CSS %>
    <link rel="stylesheet" href="http://js.arcgis.com/3.9/js/esri/css/esri.css">
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%# JS %>
    <script type="text/javascript" src="http://js.arcgis.com/3.9/"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  <style>
    html, body, #main, #mapDiv {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  </style>


    <%= yield(:head) %>
  </head>
  <body>

    <%# This is where the component goes to %>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
    </header>

    <%# This is where the component goes to %>
    <div id="main" role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
